.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}

.nav-logo{
    width: 200px;

}
.nav-profile{
    width: 75px;
}
.nav-login-cart{
    padding: 10px 20px;
    border: 1px solid #7a7a7a;
    border-radius: 15px;
    background-color: white;
    color: #515151;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.nav-login-cart:active{
    background-color: #f3f3f3;
}
@media(max-width: 800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}